#gameboard td {
  width: 100px;
  height: 100px;

}

#board-div {
  display: none;
}

.space-button {
  width: 100%;
  height: 100%;
  background: #5677BF;
  font-size: 40px;
  text-align: center;
}

.jumbotron {
  background: #5677BF;
}

.spacer {
  margin-bottom: 40px;
  margin-top: 20px;
}

#turn-display {
  text-align: center;
  display: none;
}

#game-winner {
  text-align: center;
  display: none;
}

#game-draw {
  text-align: center;
  display: none;
}

#play-again {
  text-align: center;
  display: none;
}

